[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-braces = "*"
django-embed-video = "*"
django-pymemcache = "*"
django-memcache-status = "*"
djangorestframework = "*"
requests = "*"
channels = "*"
channels-redis = "*"
redis = "*"
django-debug-toolbar = "*"
django-redisboard = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.10"
